@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-dark-200: #475467;
    --color-light-blue-100: #c1d3f81a;
    --color-light-blue-200: #a7bff14d;

    --color-badge-green: #d5faf1;
    --color-badge-red: #f9e3e2;

    --color-badge-green-text: #254d4a;
    --color-badge-red-text: #752522;
}

html,
body {
    @apply bg-white;
}

main {
    @apply h-screen pt-4 sm:pt-6 md:pt-10;
}

h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-dark-200 leading-tight xl:tracking-[-2px] font-semibold;
}

label {
    @apply text-dark-200 font-bold text-sm sm:text-base;
}

input {
    @apply w-full p-3 sm:p-4 inset-shadow rounded-xl sm:rounded-2xl focus:outline-none bg-white text-sm sm:text-base;
}

form {
    @apply flex flex-col items-start gap-8 w-full;
}

button {
    @apply py-3 text-sm sm:text-base font-bold text-white border-none rounded-xl transition-all duration-200 active:scale-95
}

@layer components {
    .form-div {
        @apply flex flex-col gap-2 w-full items-start;
    }
}

@utility inset-shadow {
    box-shadow: inset 0 0 12px 0 rgba(36, 99, 235, 0.2);
    backdrop-filter: blur(10px);
}